<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <!-- Style -->
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1>Hallo</h1>
    </body>
</html>