<html>
    <head>
        <!-- Include Header -->
        <%- include('../layout/header') %>
        <!-- Set Title -->
        <title>Homestew</title>
        <!-- Init Script needed for identifying Plugins -->
        <script>
            // Set Plugin Name for the current page
            const PLUGIN_NAME = null;
        </script>
    </head>
    <body>
        <!-- Title -->
        <div class="quickaccessmenu_Title_34nl5">Homestew</div>
        <!-- Plugin Shell -->
        <% if(!plugins?.length) { %>
            <div class="quickaccessmenu_TabGroupPanel_1QO7b Panel Focusable">
                <div class="quickaccesscontrols_EmptyNotifications_3ZjbM" style="padding-top:7px;">
                    No plugins installed
                </div>
            </div>
        <% } %>
        <div class="gamepaddialog_GamepadDialogContent_InnerWidth_2ywyS DialogContent_InnerWidth Panel Focusable gpfocuswithin">
            <div class="DialogHeader">Focusable Input</div>
            <div class="Panel Focusable gpfocuswithin">
                <div class="DialogControlsSectionHeader">Input Fields</div>
                <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable gpfocuswithin"
                    style="--indent-level:0;">
                    <div class="gamepaddialog_FieldLabelRow_2VcTl">
                        <div class="gamepaddialog_FieldLabel_3jMlJ">Input</div>
                        <div class="gamepaddialog_FieldChildren_2rhav"><input class="Focusable gpfocus gpfocuswithin"
                                tabindex="0"></div>
                    </div>
                </div>
                <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable"
                    style="--indent-level:0;">
                    <div class="gamepaddialog_FieldLabelRow_2VcTl">
                        <div class="gamepaddialog_FieldLabel_3jMlJ">Text Area</div>
                        <div class="gamepaddialog_FieldChildren_2rhav"><textarea class="Focusable" tabindex="0"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gamepaddialog_GamepadDialogContent_InnerWidth_2ywyS DialogContent_InnerWidth Panel Focusable gpfocuswithin">
            <div class="gamepaddialog_GamepadDialogContent_InnerWidth_2ywyS DialogContent_InnerWidth Panel Focusable">
                <div class="DialogHeader">Buttons</div>
                <div class="DialogBody">
                    <div class="DialogControlsSectionHeader">Buttons</div>
                    <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable"
                        style="--indent-level:0;">
                        <div class="gamepaddialog_FieldLabelRow_2VcTl">
                            <div class="gamepaddialog_FieldLabel_3jMlJ">Button field</div>
                            <div class="gamepaddialog_FieldChildren_2rhav"><button type="button"
                                    class="DialogButton _DialogLayout Secondary gamepaddialog_Button_cXzBZ Focusable"
                                    tabindex="0">Click me </button></div>
                        </div>
                    </div>
                    <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable"
                        style="--indent-level:0;">
                        <div class="gamepaddialog_FieldLabelRow_2VcTl">
                            <div class="gamepaddialog_FieldLabel_3jMlJ">Another button field</div>
                            <div class="gamepaddialog_FieldChildren_2rhav"><button type="button"
                                    class="DialogButton _DialogLayout Secondary gamepaddialog_Button_cXzBZ Focusable"
                                    tabindex="0">Click me </button></div>
                        </div>
                    </div>
                    <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable"
                        style="--indent-level:0;">
                        <div class="gamepaddialog_FieldLabelRow_2VcTl">
                            <div class="gamepaddialog_FieldLabel_3jMlJ">
                                <div class="gamepaddialog_FieldLeadIcon_3CGpa"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 36 36" fill="none">
                                        <path fill="currentColor"
                                            d="M26 16V10C26 7.87827 25.1571 5.84344 23.6569 4.34315C22.1566 2.84285 20.1217 2 18 2C15.8783 2 13.8434 2.84285 12.3431 4.34315C10.8429 5.84344 10 7.87827 10 10V16H6V22C6 25.1826 7.26428 28.2348 9.51472 30.4853C11.7652 32.7357 14.8174 34 18 34C21.1826 34 24.2348 32.7357 26.4853 30.4853C28.7357 28.2348 30 25.1826 30 22V16H26ZM20 27H16V21H20V27ZM22 16H14V10C14 8.93913 14.4214 7.92172 15.1716 7.17157C15.9217 6.42143 16.9391 6 18 6C19.0609 6 20.0783 6.42143 20.8284 7.17157C21.5786 7.92172 22 8.93913 22 10V16Z">
                                        </path>
                                    </svg></div>Disabled button field (with icon)
                            </div>
                            <div class="gamepaddialog_FieldChildren_2rhav"><button type="button"
                                    class="DialogButton _DialogLayout Secondary Disabled gamepaddialog_Button_cXzBZ Focusable"
                                    tabindex="0">Can't click me </button></div>
                        </div>
                    </div>
                    <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithDescription_3tB2l gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable"
                        style="--indent-level:0;">
                        <div class="gamepaddialog_FieldLabelRow_2VcTl">
                            <div class="gamepaddialog_FieldLabel_3jMlJ">
                                <div class="gamepaddialog_FieldLeadIcon_3CGpa"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 36 36" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M18 3C15.0333 3 12.1332 3.87973 9.66645 5.52796C7.19971 7.17618 5.27712 9.51886 4.14181 12.2597C3.00649 15.0006 2.70944 18.0166 3.28822 20.9264C3.867 23.8361 5.29561 26.5088 7.3934 28.6066C9.49119 30.7044 12.1639 32.133 15.0736 32.7118C17.9834 33.2906 20.9994 32.9935 23.7402 31.8582C26.4811 30.7229 28.8238 28.8003 30.472 26.3336C32.1203 23.8668 33 20.9667 33 18C33 16.0302 32.612 14.0796 31.8582 12.2597C31.1044 10.4399 29.9995 8.78628 28.6066 7.3934C27.2137 6.00052 25.5601 4.89563 23.7402 4.14181C21.9204 3.38799 19.9698 3 18 3ZM20.5 26H15.5V16H20.5V26ZM18 14C17.4067 14 16.8266 13.8241 16.3333 13.4944C15.8399 13.1648 15.4554 12.6962 15.2284 12.1481C15.0013 11.5999 14.9419 10.9967 15.0576 10.4147C15.1734 9.83279 15.4591 9.29824 15.8787 8.87868C16.2982 8.45912 16.8328 8.1734 17.4147 8.05764C17.9967 7.94189 18.5999 8.0013 19.148 8.22836C19.6962 8.45542 20.1648 8.83994 20.4944 9.33329C20.8241 9.82664 21 10.4067 21 11C21 11.7956 20.6839 12.5587 20.1213 13.1213C19.5587 13.6839 18.7956 14 18 14Z"
                                            fill="currentColor"></path>
                                    </svg></div>Describing button field
                            </div>
                            <div class="gamepaddialog_FieldChildren_2rhav"><button type="button"
                                    class="DialogButton _DialogLayout Secondary gamepaddialog_Button_cXzBZ Focusable"
                                    tabindex="0">Click me </button></div>
                        </div>
                        <div class="gamepaddialog_FieldDescription_1W1to">Here's some info to help you go about your day, clicking
                            buttons...</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>