<html>
    <head>
        <!-- Include Header -->
        <%- include('../layout/header') %>
        <!-- Set Title -->
        <title>Homestew</title>
        <!-- Init Script needed for identifying Plugins -->
        <script>
            // Set Plugin Name for the current page
            const PLUGIN_NAME = null;
        </script>
    </head>
    <body>
        <!-- Title -->
        <div class="quickaccessmenu_Title_34nl5">Homestew</div>
        <!-- Plugin Shell -->
        <% if(!plugins?.length) { %>
            <div class="quickaccessmenu_TabGroupPanel_1QO7b Panel Focusable">
                <div class="quickaccesscontrols_EmptyNotifications_3ZjbM" style="padding-top:7px;">
                    No plugins installed
                </div>
            </div>
        <% } %>
        <div class="gamepaddialog_GamepadDialogContent_InnerWidth_2ywyS DialogContent_InnerWidth Panel Focusable gpfocuswithin">
            <div class="DialogHeader">Focusable Input</div>
            <div class="Panel Focusable gpfocuswithin">
                <div class="DialogControlsSectionHeader">Input Fields</div>
                <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable gpfocuswithin"
                    style="--indent-level:0;">
                    <div class="gamepaddialog_FieldLabelRow_2VcTl">
                        <div class="gamepaddialog_FieldLabel_3jMlJ">Input</div>
                        <div class="gamepaddialog_FieldChildren_2rhav"><input class="Focusable gpfocus gpfocuswithin"
                                tabindex="0"></div>
                    </div>
                </div>
                <div class="gamepaddialog_Field_eKmEX gamepaddialog_WithFirstRow_2bDqk gamepaddialog_InlineWrapShiftsChildrenBelow_3LCXh gamepaddialog_WithBottomSeparator_3YKpU gamepaddialog_ExtraPaddingOnChildrenBelow_3nLNL gamepaddialog_StandardPadding_xIITX gamepaddialog_HighlightOnFocus_2HFrm Panel Focusable"
                    style="--indent-level:0;">
                    <div class="gamepaddialog_FieldLabelRow_2VcTl">
                        <div class="gamepaddialog_FieldLabel_3jMlJ">Text Area</div>
                        <div class="gamepaddialog_FieldChildren_2rhav"><textarea class="Focusable" tabindex="0"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>