<html>
    <head>
        <!-- Include Header -->
        <%- include('../layout/header') %>
        <!-- Set Title -->
        <title>Homestew</title>
        <!-- Init Script needed for identifying Plugins -->
        <script>
            // Set Plugin Name for the current page
            const PLUGIN_NAME = null;
        </script>
    </head>
    <body>
        <!-- Title -->
        <div class="quickaccessmenu_Title_34nl5">Homestew</div>
        <!-- Plugin Shell -->
        <% if(!plugins?.length) { %>
            <div class="quickaccessmenu_TabGroupPanel_1QO7b Panel Focusable">
                <div class="quickaccesscontrols_EmptyNotifications_3ZjbM" style="padding-top:7px;">
                    No plugins installed
                </div>
            </div>
        <% } %>
    </body>
</html>