<html>
    <head>
        <!-- Include Header -->
        <%- include('../layout/header') %>
        <!-- Set Title -->
        <title><%= plugin.NAME %></title>
        <!-- Init Script needed for identifying Plugins -->
        <script>
            // Set Plugin Name for the current page
            const PLUGIN_NAME = "<%= plugin.getName() %>";
        </script>
    </head>
    <body style="height: fit-content; display: block;">
        <%- plugin.getView() %>
    </body>
</html>